body {
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
    margin: 0;
    padding: 20px;
    color: #333;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    color: #ff5733;
}

h2 {
    margin-top: auto;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.3em;
    color: #ff5733;
    margin-top: 0;
    text-align: center;
}

.input-section {
    text-align: center;
    margin-right: 10px;
}

.input-section label {
    text-align: center;
    margin-bottom: 30px;
}

.input-section input[type="number"] {
    padding: 10px;
    font-size: 1em;
    width: 100px;
    border: 2px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.submit-button {
    background-color: #ff5733;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.submit-button:hover {
    background-color: #c23e16;
}

.workout-section {
    max-width: 700px;
    margin: 0 auto 30px auto;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.workout-section h2 {
    border-bottom: 2px solid #ff5733;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.workout-content {
    display: block;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}

.hidden {
    display: none;
}

.toggle-button {
    background-color: white;
    border: none;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.toggle-button:hover {
    background-color: rgb(214, 214, 214);
}

.toggle-button:focus {
    outline: none;
}

.table-header, .set {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr auto;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.table-header {
    background-color: #ff5733;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.table-header .header-item {
    padding: 5px;
    border-right: 2px solid white; 
}

.table-header .header-item:last-child {
    border-right: none; 
}

.set {
    margin-bottom: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    align-items: center;
    text-align: center;
}

.set button.calculate-button {
    margin: 2px auto; 
    display: block;
    padding: 8px 25px;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.set div {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}

.set div:last-child {
    border-right: none; 
}

.set-weight {
    font-weight: bold;
    color: #ff5733;
}

.set .set-info,
.set .set-reps,
.set .set-weight {
    font-size: 1.3em; 
    font-weight: bold;
    text-align: center;
    border-right: 2px solid #ddd;
}

.set div:last-child {
    font-size: 1.1em; 
    font-weight: bold;
    text-align: center;
    border-right: none; 
}

button.calculate-button {
    padding: 10px 12px;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    max-width: 100px;
}

button.calculate-button:hover {
    background-color: #c23e16;
}

.plates-section {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.plate-row {
    padding: 5px 0;
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
}

#maxout {
    text-align: center;
    margin-top: 20px;
    font-size: 1.1em;
    color: #353535;
}

#maxout span {
    font-weight: bold;
    color: #ff5733;
}

